button {
    background: linear-gradient(144deg, var(--first), var(--second) 50%, var(--third));
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

button:hover a {
    background: none !important;
    color: white !important;
}

button:hover p {
    background: none !important;
    color: white !important;
}