@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

:root {
  --first: #AF40FF;
  --second: #5B42F3;
  --third: #00DDEB;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', sans-serif;;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.gradient-text {
  background-image: linear-gradient(to right, var(--first), var(--second), var(--third));
  color: transparent;
}

.border-gradient {
  border-bottom: 1px solid transparent;
  background-origin: border-box;
  background-image: linear-gradient(to right, var(--first), var(--second), var(--third));
  background-clip: context-box, border-box;
}

.item-ul::after {
  border-bottom: 2px solid transparent;
  background-origin: border-box;
  background-image: linear-gradient(to right, var(--first), var(--second), var(--third));
  background-clip: context-box, border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;